* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #242424;
  color: whitesmoke;
}