.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_container {
  height: 100px;

}

.image {
  width: 100%;
  height: 310px;
}

.name {
  margin: .75em 0em 0em 0em;
}

.job_title {
  font-weight: 300;
  margin: .5em 0em 0em 0em;
  color: #F3BF99;
}

.website {
  margin: 0em;
}

.portfolio_link {
  color: beige;
  text-decoration: none;
  font-weight: 300;
  margin: .5em 0em .5em 0em;
  cursor: pointer;
}

.btns {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.btns>button:hover {
  box-shadow: inset 0px 0px 8px blue;
}

.btns>button {
  width: 7.18rem;
  height: 2.125rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}

.email_logo {
  margin-right: .25em;
}

.email_link {
  color: black;
  text-decoration: none;
}

.linkedin_link {
  text-decoration: none;
  color: white;
}

.linkedin_btn {
  color: whitesmoke;
  background-color: #5093E2;
}